.head_main {
  color: white;
  margin: 25px auto;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  width: 93%;
  box-shadow: 1px 1px 150px rgba(255, 118, 141, 0.616);
  height: 76vh;
  background: linear-gradient(-180deg, #24242446, #0e0e0ec4),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/fbf440b2-24a0-49f5-b2ba-a5cbe8ea8736/web_tall_panel/IN-en-20250324-TRIFECTA-perspective_69cb00d3-7b5e-45e8-b378-7757f9c8f60b_large.jpg);
  background-position: center;
  background-size: cover;
}
.empty {
  height: 30vh;
}
.header_content {
  height: 40vh;
  margin-top: 2px;
  display: grid;
  justify-items: center;
  text-align: center;
}
#header_heading {
  font-size: xx-large;
  margin-bottom: 0px;
}
#header_cont {
  margin-top: 0px;
  margin-bottom: 20px;
}
.innercont {
  display: flex;
  width: 85%;
  justify-content: space-around;
  margin-bottom: 40px;
  align-items: center;
}
#h_search {
  width: 65%;
  height: 70%;
  color: white;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 15px;
  background-color: rgba(158, 157, 157, 0.363);
}
#h_search::placeholder {
  color: white;
  margin-left: 25px;
}
#h_bsearch {
  cursor: pointer;
  height: 70%;
  padding: 0px 10px;
  color: white;
  border: none;
  border-radius: 15px;
  
  background-color: red;
}
#HLink{
  text-decoration: none;
  
}
@media screen and (min-width:250px) and (max-width: 500px) {
  .head_main {
    height: 75vh;
  }
  .empty {
    height: 20vh;
  }
  .innercont {
    flex-direction: column;
  }
  .header_content{
    height: 80%;
  }
  #header_heading {
    font-size: xx-large;
  }
  #h_search{
    width: 80%;
  }
  #h_bsearch {
    font-size: larger;
    width: 58%;
    margin: 25px;
  }
}
@media screen and (min-width:600px)and (max-width: 1200px) {
  .head_main {
    height: 75vh;
  }
  #header_heading {
    font-size: xx-large;
  }
  #h_bsearch {
    font-size: xx-large;
    padding: 10px 30px;
  }
}
@media screen and (min-width: 1201px) {
  #header_heading {
    font-size: 45px;
  }
  #header_cont {
  font-size: 32px;
  }
  #h_bsearch {
    font-size: xx-large;
    padding: 15px 35px;
  }
  
}

@media screen and (max-width: 315px) {
  #h_bsearch {
    font-size: small;
  }
}
