
#MD_main {
  height: 100%;
  box-sizing: border-box;
  width: auto;
}
#MD_btn {
  background-color: red;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 9px 19px;
  border: none;
  margin-top: 15px;
  margin-left: 7px;
}
#MD_link {
  text-decoration: none;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 1.3em;
  animation: all 1s ease-in-out;
}
#MD_link:hover {
  text-decoration: underline;
}
#MD_tittle {
  font-family: "Poppins";
  font-size: 40px;
  text-align: center;
  color: white;
  margin-bottom: 0px;
}
#MD_status{
  color: white;
  display: flex;
  justify-content: center;
  gap: 15px;
}
#content{
  display: flex;
  gap: 12px;
}
#MD_h3{
  color: grey;
}
#MD_h4{
  color:whitesmoke;
  font-size: 15px;
  line-height: 25px;
}
#MD_h4 a{
  text-decoration: none;
  color: lightblue;
}

#MD_img{
  width: 60%;
  border-radius: 20px;
}
#MD_overview{
  color: whitesmoke;
}
#MD_over{
  width: 95%;
  margin: 0px auto;
  color: aliceblue;
  text-align: justify;
}

@media screen and (min-width:280px) and (max-width:374px) {
  #MD_tittle{
    font-size: 30px;
  }
  #MD_h3{
    font-size: 15px;
  }
  
}
@media screen and (min-width:375px) and (max-width:767px) {
  #MD_tittle{
    font-size: 30px;
  }
  #MD_h3{
    font-size: 15px;
  }
  
}
@media screen and (min-width:768px) and (max-width:1024px) {
  
  #MD_tittle{
    font-size: 60px;
  }
  #MD_h3{
    font-size: 25px;
  }
  #MD_img{
    width: 50%;
    border-radius: 20px;
  }
  #content{
    gap: 40px;
  }
  #MD_h4{
    line-height: 40px;
    font-size: 40px;
  }
  #MD_overview{
    font-size: 40px;
  }
  #MD_over{
    width: 90%;
    font-size: 29px;
  }
  
}
@media screen and (min-width:1025px) {
  
  #MD_tittle{
    font-size: 60px;
  }
  #MD_h3{
    font-size: 25px;
  }
  #MD_img{
    width: 40%;
    border-radius: 20px;
  }
  #content{
    gap: 40px;
  }
  #MD_h4{
    line-height: 40px;
    font-size: 40px;
  }
  #MD_overview{
    font-size: 40px;
  }
  #MD_over{
    width: 90%;
    font-size: 29px;
  }
  
}
