.body_main{
  margin-top: 5pxl;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.body-top{
  margin-top: 15px;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
}
.body-top #b_btn{
cursor: pointer;
  border: none;
  padding: 9px 15px;
  color: white;
  border-radius: 15px;
  font-size: 0.875em;
  background-color: red;
}
#Link{
    text-decoration: none;
    font-size: 20px;
   
}
#h_search {
    width: 65%;
    height: 70%;
    color: white;
    border: 1px solid transparent;
    padding: 5px;
    padding-left: 10px;
    border-radius: 15px;
    background-color: rgba(158, 157, 157, 0.363);
  }
  #h_search::placeholder {
    color: white;
    margin-left: 25px;
  }