
#link .movie_cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 10px 0px;
}
/* .movie_cards :hover{
    cursor: pointer;
} */
#link #M_img{
    width:100%;
    height: auto;
    border-radius: 20px;
    box-sizing: border-box;
    
}
@media screen and (min-width:180px) and (max-width:424px) {
    .movie_cards{ 
        width:50vmax;
        margin:0.5em auto;
    }
}
@media screen and (min-width:425px) {
    .movie_cards{
        width: 45vmin;
        margin: 0.6em auto;
    }
}
@media screen and (min-width:700px) {
    .movie_cards{
        width: 42vmax;
        margin: 0.68em auto;
    }
}
@media screen and (min-width:900px) {
    .movie_cards{
        width: 19vmax;
        margin: 0.7em auto;
    }
}